/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_de.h"

#define LINUX      0
#define SYMBOLS    1
#define MAC        2
#define MACSYMBOLS 3
#define SETTINGS   4


/ {
        macros {
                mac_caret: mac_caret {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                        = <&macro_tap &kp DE_LT>;
                };
                mac_pipe: mac_pipe {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_tap &kp DE_LBRC>;
                };
                mac_lt: mac_lt {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_tap &kp DE_CARET>;
                };
                mac_gt: mac_gt {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_tap &kp LS(DE_CARET)>;
                };
                mac_lbrc: mac_lbrc {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_tap &kp DE_LBKT>;
                };
                mac_rbrc: mac_rbrc {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_tap &kp DE_RBKT>;
                };
                mac_tilde: mac_tilde {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_tap &kp LA(DE_N)>;
                };
                mac_bslh: mac_bslh {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_tap &kp RA(DE_Y)>;
                };
                mac_at: mac_at {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_tap &kp LA(DE_L)>;
                };
                mac_lbkt: mac_lbkt {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_tap &kp LA(DE_N5)>;
                };
                mac_rbkt: mac_rbkt {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                            = <&macro_tap &kp LA(DE_N6)>;
                };
            };
        combos {
                compatible = "zmk,combos";
                combo_to_mac {
                        timeout-ms = <500>;
                        key-positions = <0 11>;
                        layers = <0>;
                        bindings = <&to MAC>;
                };
                combo_to_linux {
                        timeout-ms = <500>;
                        key-positions = <0 11>;
                        layers = <2>;
                        bindings = <&to LINUX>;
                };
        };
        behaviors {
                hl: homerow_mods_left {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping-term-ms = <400>;
                        quick-tap-ms = <200>;
                        flavor = "tap-unless-interrupted";
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
                };
                hr: homerow_mods_right {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping-term-ms = <400>;
                        quick-tap-ms = <200>;
                        flavor = "tap-unless-interrupted";
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
                };
                hml: homerow_mods_layer {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping-term-ms = <400>;
                        quick-tap-ms = <200>;
                        flavor = "tap-unless-interrupted";
                        bindings = <&mo>, <&kp>;
                        hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
                };
                hmr: homerow_mods_layer {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping-term-ms = <400>;
                        quick-tap-ms = <200>;
                        flavor = "tap-unless-interrupted";
                        bindings = <&mo>, <&kp>;
                        hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
                };
                td0: tap_dance_tilde_esc {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <500>;
                        bindings = <&kp DE_TILDE>, <&kp ESC>;
                };
                td1: tap_dance_acute_grave {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&kp DE_ACUTE>, <&kp DE_GRAVE>;
                };
                td2: tap_dance_dollar_sect {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&kp DE_DLLR>, <&kp DE_SECT>;
                };
                td3: tap_dance_tilde_esc_mac {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <500>;
                        bindings = <&mac_tilde>, <&kp ESC>;
                };
        };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "linux";
// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ~ + ESC          |    Q                  |    W                  |    E          |        R      |    T          |                       |    Y          |        U      |      I        |     O         |       P               |       ü       |
// |     ^              |    A                  |    S                  |    D          |    F + SHFT   |    G          |                       |    H          |    J + SHFT   |      K        |     L         |       ö               |       ä       |
// |  SETTINGS          |    Z                  |    X                  |    C          |        V      |    B          |                       |    N          |        M      |      ,        |     .         |       -               |       ß       |
//                                                                      |   GUI         |   Backspace   | SPC           |                       |   ENT         |       TAB     |    SYMBOLS    |
                        bindings = <
    &td0                &kp DE_Q                &kp DE_W                &kp DE_E        &kp DE_R        &kp DE_T                                &kp DE_Z        &kp DE_U        &kp DE_I        &kp DE_O        &kp DE_P                 &kp DE_U_UMLAUT
    &kp DE_CARET        &hml SYMBOLS DE_A       &hl LALT DE_S           &hl LCTRL DE_D  &hl LSHIFT DE_F &kp DE_G                                &kp DE_H        &hr RSHIFT DE_J &hr RCTRL DE_K  &hr RALT DE_L   &hmr SYMBOLS DE_O_UMLAUT &kp DE_A_UMLAUT
    &mo SETTINGS        &kp DE_Y                &kp DE_X                &kp DE_C        &kp DE_V        &kp DE_B                                &kp DE_N        &kp DE_M        &kp DE_COMMA    &kp DE_DOT      &kp DE_MINUS             &kp DE_SZ
                                                                        &kp LGUI        &kp BSPC        &kp SPACE                               &kp RET         &kp TAB         &to SYMBOLS
                        >;
                };

                symbols_layer {
                        display-name = "symbols";
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//  |  <        |  @            |  !            |  {            |  }            |  "       |                    |  =            |  7            |  8            |  9            |  +            |  *            |
//  |  |        |  #            |  $ + §        |  (            |  )            |  '       |                    |  ?            |  4            |  5            |  6            |  -            |  /            |
//  |  >        |  %            |  &            |  [            |  ]            |  ´ + `   |                    |  0            |  1            |  2            |  3            |  \            |NMLCK          |
//                                              | GUI           |     DEL       |  CAPS    |                    | ENT           |  TAB          | to Linux      |
                        bindings = <
    &kp DE_LT    &kp DE_AT      &kp DE_EXCL     &kp DE_LBRC     &kp DE_RBRC     &kp DE_DQT                      &kp DE_EQUAL    &kp DE_N7       &kp DE_N8       &kp DE_N9       &kp DE_PLUS     &kp DE_ASTRK
    &kp DE_PIPE  &kp DE_POUND   &td2            &kp DE_LPAR     &kp DE_RPAR     &kp DE_SQT                      &kp DE_QMARK    &kp DE_N4       &kp DE_N5       &kp DE_N6       &kp DE_MINUS    &kp DE_SLASH
    &kp DE_GT    &kp DE_PRCNT   &kp DE_AMPS     &kp DE_LBKT     &kp DE_RBKT     &td1                            &kp DE_N0       &kp DE_N1       &kp DE_N2       &kp DE_N3       &kp DE_BSLH     &kp KP_NUM
                                                &kp LGUI        &kp DEL         &caps_word                      &kp RET         &kp TAB         &to LINUX
                        >;
                };

                mac_layer {
                        display-name = "mac";
// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//  |   ~ + ESC         |    Q                  |    W          |    E          |        R      |    T          |               |    Y          |        U      |      I        |     O         |       P                       |       ü       |
//  |     ^             |    A                  |    S          |    D          |    F + SHFT   |    G          |               |    H          |    J + SHFT   |      K        |     L         |       ö                       |       ä       |
//  |  SETTINGS         |    Z                  |    X          |    C          |        V      |    B          |               |    N          |        M      |      ,        |     .         |       -                       |       ß       |
//                                                              |   GUI         |   Backspace   |     SPC       |               |   ENT         |       TAB     |    SYMBOLS    |
                        bindings = <
    &td3                &kp DE_Q                &kp DE_W        &kp DE_E        &kp DE_R        &kp DE_T                        &kp DE_Z        &kp DE_U        &kp DE_I        &kp DE_O        &kp DE_P                        &kp DE_U_UMLAUT
    &mac_caret          &hml MACSYMBOLS DE_A    &hl LALT DE_S   &hl LCTRL DE_D  &hl LSHIFT DE_F &kp DE_G                        &kp DE_H        &hr RSHIFT DE_J &hr RCTRL DE_K  &hr RALT DE_L   &hmr MACSYMBOLS DE_O_UMLAUT     &kp DE_A_UMLAUT
    &mo SETTINGS        &kp DE_Y                &kp DE_X        &kp DE_C        &kp DE_V        &kp DE_B                        &kp DE_N        &kp DE_M        &kp DE_COMMA    &kp DE_DOT      &kp DE_MINUS                    &kp DE_SZ
                                                                &kp LGUI        &kp BSPC        &kp SPACE                       &kp RET         &kp TAB         &to MACSYMBOLS
                        >;
                };

             symbols_mac_layer {
                        display-name = "symbols";
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |  <         |  @            |  !            |  {            |  }            |  "            |              |  =             |  7            |  8            |  9            |  +            |  *            |
// |  |         |  #            |  $ + §        |  (            |  )            |  '            |              |  ?             |  4            |  5            |  6            |  -            |  /            |
// |  >         |  %            |  &            |  [            |  ]            |  ´ + `        |              |  0             |  1            |  2            |  3            |  \            |NMLCK          |
//                                              | GUI           |     DEL       |  CAPS         |              | ENT            |  TAB          | to MAC        |
                        bindings = <
   &mac_lt      &mac_at         &kp DE_EXCL     &mac_lbrc       &mac_rbrc       &kp DE_DQT                      &kp DE_EQUAL    &kp DE_N7       &kp DE_N8       &kp DE_N9       &kp DE_PLUS     &kp DE_ASTRK
   &mac_pipe    &kp DE_POUND    &td2            &kp DE_LPAR     &kp DE_RPAR     &kp DE_SQT                      &kp DE_QMARK    &kp DE_N4       &kp DE_N5       &kp DE_N6       &kp DE_MINUS    &kp DE_SLASH
   &mac_gt      &kp DE_PRCNT    &kp DE_AMPS     &mac_lbkt       &mac_rbkt       &td1                            &kp DE_N0       &kp DE_N1       &kp DE_N2       &kp DE_N3       &mac_bslh       &kp KP_NUM
                                                &kp LGUI        &kp DEL         &caps_word                      &kp RET         &kp TAB         &to MAC
                        >;
                };

                setting_layer {
                        display-name = "settings";
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//  |   F1      |     F2        |      F3       |      F4       |      F5       |      F6       |               |  F7   |  F8           |  F9   |  F10          | F11           | F12   |
//  |           |               |     ALT       |     CTRL      |    SHIFT      |               |               |       |               |       |               |               |       |
//  |  BTCLR    |    BT1        |     BT2       |     BT3       |     BT4       |     BT5       |               |       |               |       |               |               |       |
//                                              |               |               |               |               |       |               |       |
                        bindings = <
    &kp F1      &kp F2          &kp F3          &kp F4          &kp F5          &kp F6                          &kp F7  &kp F8          &kp F9  &kp F10         &kp F11         &kp F12
    &none       &none           &kp LALT        &kp LCTRL       &kp LSHIFT      &none                           &none   &kp LEFT        &kp UP  &kp DOWN        &kp RIGHT       &none
    &bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4                    &none   &none           &none   &none           &none           &none
                                                &none           &none           &none                           &none   &none           &none
                        >;
                };
        };
};
